.face{
    height: 400px;
    width: 400px;
    background-color:rgb(210, 185, 21);
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    position: absolute;
    top: 250px;
    left: 100px;
    border-radius: 0px 0px 50px 50px;
}
#left, #right{
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
#left{
    position: absolute;
    top: 50px;
    left: 100px;
}
#right{
    position: absolute;
    top: 50px;
    left: 250px;
}