#container{
    height:500px;
    width: 70%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content:baseline ;

}
#or{
    align-self: flex-end;
}
h1{
    text-align: center;
}
#container div{
  height: 50px;
  width: 300px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}