*{
    background-color: wheat;
}
p{
    color: #A52A2A;
}
.a{
    text-align: center;
}
p{
    color: red;
    line-height: 30px;
}
h2{
    color: black;
}
*{
    font-family: Georgia;
}
a{
    color: rgb(0, 255,0);
    text-decoration: none;
}
button{
    background-color: white;
   color: blueviolet;
}
span{
    text-decoration: underline;
}